@import '../../../../../scss/variables';

:host,
.app-container,
app-header,
app-main {
  width: calc(100vw - 80px);
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex: 1;
}

app-sidebar {
  height: 100vh;
}

app-main {
  flex: 1;
  background-color: red;
  overflow-y: auto;
}
