<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <img src="https://picsum.photos/100/100" alt="">
    <div class="logo-text" *ngIf="collapsed"> Angular</div>
  </div>
  <ul class="sidenav-nav">
    <ng-container  *ngfor="let data of menuItens">
      {{data}}
      <li class="sidenav-nav-item"> 
        <div class="sidenav-nav-link" [routerLink]="[data.routerLink]">
          <i class="sidenav-link-icon {data.icon}" [class]="data.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsed"> {{ data.name }}</span>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
