@import '../../../../../scss/variables';

:host {
  font-weight: 600;

  .sidenav {
    width: 80px;
    color: $color-black-secundary;
    background-color: $color-black-secundary;
    transition: width 0.3s ease-in-out;
    box-shadow: 5px solid rgba(130, 138, 130, 0.5);
  
    .sidenav-link-text {
      color: $color-black-secundary !important;
    }
  
    h3 {
      color: $color-black-secundary !important;
    }
  
    &:hover {
      width: 280px;
      overflow-x: hidden;
  
      .sidenav-link-text {
        color: white !important;
      }
  
      h3 {
        color: $color-primary !important;
      }
    }
  }

 
  .sidenav:hover .sidenav-link-text {
    display: inline;
  }

  .logo-container {
    position: fixed;
    top: 0;
    left: 0;

    img {
      max-width: 100px;
      max-height: 50px;
    }

    h3 {
      color: $color-primary;
      font-size: 20px;
      font-weight: 800;
      font-family: "Montserrat", sans-serif;
    }
  }

  .sidenav {
    padding-top: 60px;
  }

  .sidenav-collapsed {
    overflow-y: auto;
    height: 100vh;
  }

  .icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .sidenav-content {
    height: calc(100vh - 60px);
  }

  .sidenav-nav {
    padding: 10px;
  }

  .sidenav-nav-item {
    transition: all 0.3s ease;
    list-style-type: none;
  }

  .sidenav-nav-link {
    opacity: 0.5;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(130, 138, 130, 0.5);
  }

  .sidenav-nav-link:hover {
    background-color: $color-black-secundary;
  }

  .sidebar {
    height: 100vh;
    background-color: #f0f0f0;
  }

  .fa-angle-bottom {
    transition: all 0.3s ease;
    transform: rotate(90deg);
  }

  .overflow-auto {
    overflow-y: auto;
  }
}