:host {

  
  .logo {
    width: 100%;
  }

  .sidenav-collapsed{
    overflow-y: auto;
    height: 100%;
  }

  .icon-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .sidenav-nav {
    padding: 10px;
  }

  .sidenav-nav-item {
    transition: all 0.3s ease;
    list-style-type: none;
  }
  
  .sidenav-nav-link{
    opacity: 0.5;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid rgba(130, 138, 130, 0.5);
  }

  .sidenav-nav-link:hover{
    background-color: #0b2d41;
  }

  .sidenav-link-text {
    font-weight: 600;
  }

  .sidebar {
    height: 100vh;
    background-color: #f0f0f0;
  }

  .fa-angle-bottom{
    transition: all 0.3s ease;
    transform: rotate(90deg);
  }
  
}