<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <!-- <img src="../../../assets/logo/logo_fogo.png" width="50" height="50" alt="Gestor-Prime Logo" *ngIf="collapsed">
    <h3>GESTOR PRIME</h3> -->
    <button class="logo" (click)="toggleCollapse()">G</button>
    <div class="logo-text" *ngIf="collapsed">Gestor</div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <div class="sidenav-content overflow-auto">
    <ul class="sidenav-nav ms-1">
      <ng-container *ngFor="let item of menuItens; let i = index">
        <li class="sidenav-nav-item" (click)="toggleMenu(i)">
          <a class="sidenav-nav-link" [routerLink]="[item.routerLink]">
            <i class="sidenav-link-icon fa-lg fa-solid" [class]="item.icon"></i>
            <span class="sidenav-link-text" *ngIf="collapsed">{{ item.name }}</span>
            <!-- <i class="ms-auto me-3 fa-solid fa-angle-right" [ngClass]="{'fa-angle-bottom': i === expandedIndex}"></i> -->
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>