<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container text-center me-2 mt-3">
    <img src="../../../assets/logo/logo_fogo.png" alt="Antares Logo">
    <span class="gestor">GESTOR </span>
    <span class="prime">PRIME</span>
  </div>
  <ul class="sidenav-nav ms-1">
    <ng-container *ngFor="let item of menuItens; let i = index">
      <li class="sidenav-nav-item pointer mb-3 text-white" (click)="toggleMenu(i)">
        <div class="sidenav-nav-link d-flex flex-row align-items-center" [routerLink]="[item.routerLink]">
          <i class="me-2 fa-solid" [class]="item.icon"></i>
          <span class="sidenav-link-text" *ngIf="collapsed">{{ item.name }}</span>
          <i class="ms-auto me-3 fa-solid fa-angle-right" [ngClass]="{'fa-angle-bottom': i === expandedIndex}"></i>
        </div>
        <div *ngIf="i === expandedIndex">
          <span>teste</span>
        </div>
      </li>
    </ng-container>
  </ul>
</div>
