<h1>Bom dia, </h1>
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <div class="container-dash mx-sm-3">
    <div class="bloco">
      <h4>Total de clientes</h4>
      <span class="number-bold mb-2">2</span>
      <span><strong>Fulano</strong>, este é o número total de seus clientes</span>
    </div>
    <div class="bloco">
      <h4>Clientes inadimplentes</h4>
      <span class="number-bold mb-2">0</span>
      <span>Clientes vencidos</span>
    </div>
    <div class="bloco">
      <h4>Caixa Atual</h4>
      <span class="number-bold mb-2">R$ 20,00</span>
      <span>Seu caixa hoje, <strong>Fulano</strong></span>
    </div>
    <div class="bloco">
      <h4>Teste</h4>
      <span class="number-bold mb-2">R$ 0,00</span>
      <span>Você fechou o mês anterior</span>
    </div>
  </div>
<!-- </form> -->
