<!-- login.component.html -->
<div class="login-container">
  <div class="login-form">
    <div class="title-login h2">
      <img src="../../../assets/logo/logo_fogo.png" alt="Antares Logo">
      <div class="row">
        <h1>GESTOR PRIME</h1>
      </div>
    </div>
    <div class="d-flex flex-column">
      <form (ngSubmit)="onSubmit()" [formGroup]="cadastroForm">

        <label class="d-flex justify-content-start text-white">Email</label>
        <input type="text" placeholder="Usuário" class="antares-input" formControlName="user">

        <label class="d-flex justify-content-start text-white">Senha</label>
        <input type="password" placeholder="Senha" class="antares-input" formControlName="password">
        <div *ngIf="nextStep" class="mt-2 text-danger">
          Senha ou usuário está incorreta, digite novamente!
        </div>

        <div class="d-flex flex-column">
          <button  type="submit" [disabled]="!cadastroForm.valid" class="btn btn-primary mt-4"
          (click)="valid()">
            Login</button>
          <span class="mt-3 text-white">Tem alguma dúvida?
            <a class="text-primary" href="https://www.example.com">Chame o suporte.</a>
          </span>
        </div>

      </form>
    </div>
  </div>
</div>