:host{
  .antares-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #0F354B, #0f0f0e);
  }
  
  .antares-login-form {
    background-color: #081F2B;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    
  }
  
  .antares-logo {
    width: 200px;
    height: 50%;
  }
  
  .antares-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: white !important;
  }

  .btn-warning{
    border-radius: 10px;
  }
}

