@import '../../../../scss/variables';

:host {
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #696CFF;
    background-image: radial-gradient(circle at center,
        #696CFF 0%,
        #7781FF 25%,
        #8595FF 50%,
        #93A9FF 75%,
        #A1BBFF 100%);
  }

  .login-form {
    background-color: #262932;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    width: 500px;
  }

  .title-login {
    img {
      animation: balanco 2s infinite linear;
      width: 80px;
    }

    h1 {
      font-weight: 700;
      color: $color-primary;
      font-size: 30px;
      font-family: "Montserrat", sans-serif;
      color: #fff;
      background-image: linear-gradient(to right, #696CFF 0%, #999BFF 100%);
      background-size: 200% 100%;
      background-position: 0 0;
      animation: animate 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    @keyframes balanco {
      0% {
        transform: rotate(-5deg);
      }

      50% {
        transform: rotate(5deg);
      }

      100% {
        transform: rotate(-5deg);
      }
    }

    @keyframes animate {
      0% {
        background-position: 0 0;
        /* Gradiente na posição inicial */
      }

      100% {
        background-position: -200% 0;
        /* Gradiente na posição final */
      }
    }
  }

  .antares-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: black !important;
  }

  .btn-warning {
    border-radius: 10px;
  }

  .btn-primary {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  .text-primary {
    color: $color-primary !important;
  }
}