<h1>Bom dia, </h1>
<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> -->
  <div class="container-dash mx-sm-3">
    <div class="bloco">
      <h3>Total de clientes</h3>
      <span>2</span>
      <span><strong>Fulano</strong>, este é o número total de seus clientes</span>
    </div>
    <div class="bloco">
      <h3>Clientes inadimplentes</h3>
      <span>0</span>
      <span>Clientes vencidos</span>
    </div>
    <div class="bloco">
      <h3>Caixa Atual</h3>
      <span>R$ 20,00</span>
      <span>Seu caixa hoje, <strong>Fulano</strong></span>
    </div>
    <div class="bloco">
      <h3>Teste</h3>
      <span>R$ 0,00</span>
      <span>Você fechou o mês anterior</span>
    </div>
  </div>
<!-- </form> -->
