<div class="container-fluid">
  <div class="row">
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="position-sticky pt-3 pe-1">
        <ul class="nav flex-column" *ngFor="let item of itemsMenu">
          <li class="nav-item mb-1" (click)="menuNavItem(item)">
            <a class="nav-link d-flex flex-row my-auto">
              <i class="fa-solid pe-3 {{item.icon}}"></i>
              {{ item.name }}
              <div class="ms-auto">
                <i class="fa icon-transition" [ngClass]="{'fa-angle-right': !item.isOpen, 'fa-angle-down': item.isOpen}"></i>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>