/* You can add global styles to this file, and also import other style files */
:root{
  --primary: #D19B01;
  --secondary: #262932;
  height: 100%;
}

body, html {
  height: 100%;
}

* {
  font-family: "Roboto", sans-serif;
}