@import '../src/scss/variables';

:root{
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

.pointer{
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 7px; /* Largura da barra */
  height: 7px; /* Altura da barra */
  background-color: $color-black-secundary; /* Cor de fundo da barra */
  border-radius: 999px; /* Raio das bordas arredondadas */
}

::-webkit-scrollbar-thumb {
  background-color: #303b5a; /* Cor da barra de rolagem */
  border-radius: 999px; /* Raio das bordas arredondadas da barra */
}

  


